body{
    height: 100vh;
    background-color:rgb(58, 57, 57);
    color:#fff;
    font-size:5rem;
    font-family:'arial';
    margin:0 ;
    padding : 0 ;
    display:flex;
    align-items:center;
    justify-content:center;
}
@media(max-width:767px){
    body{
        font-size:2rem;
    }
}
ul{
    padding: 50px;
    margin : 0;
    border:10px solid #fff;
}
ul li{
    list-style:none;
    display:inline-block;
    transition:1.9s;
    -webkit-transition:1.9s;
    -moz-transition:1.9s;
    -ms-transition:1.9s;
    -o-transition:1.9s;
}
ul:hover li{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}